
.nav-bar{
  display: flex;
  &.border{
    border-bottom: 1px solid #ccc;
  }
  .nav-bar-left{
    padding-left: px2rem(20);
  }
  .nav-bar-center{
    flex: 1;
    height: px2rem(88);
    padding: 0 px2rem(150);
    font-size: px2rem(32);
    text-align: center;
    line-height: px2rem(88);
  }
  .nav-bar-right{
    padding-right: px2rem(20);
  }
  .nav-bar-left,.nav-bar-right{
    width: px2rem(130);
    height: px2rem(88);
    i{
      font-size: px2rem(28);
      line-height: px2rem(28);
    }
    span{
      &.pd-left{
        padding-left: px2rem(5);
      }
      &.pd-right{
        padding-right: px2rem(5);
      }
      font-size: px2rem(24);
      line-height: px2rem(24);
    }
    img{
      width: px2rem(35);
      height: px2rem(35);
    }
  }
}