html,body,#root{
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
.container{
  flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-left-enter{
  transform: translate(100%);
}
.fade-left-enter-active{
  position: absolute;
  width: 100%;
  transform: translate(0);
  transition: all .3s;
}

.fade-left-exit{
  transform: translate(0);
}
.fade-left-exit-active{
  transform: translate(-100%);
  transition: all .3s;
}


.fade-right-enter{
  transform: translate(-100%);
}
.fade-right-enter-active{
  position: absolute;
  width: 100%;
  transform: translate(0);
  transition: all .3s;
}

.fade-right-exit{
  transform: translate(0);
}
.fade-right-exit-active{
  transform: translate(100%);
  transition: all .3s;
}